<!--The content below is only a placeholder and can be replaced.-->
<app-navbar></app-navbar>

  <div class="overlay"></div>
  <div id="demo" class="carousel slide" data-ride="carousel">

      <!-- Indicators -->
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
      </ul>
      
      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/fourth.jpg" alt="Los Angeles" width="1100" height="500">
        </div>
        <div class="carousel-item">
          <img src="assets/fifth.jpg" alt="Chicago" width="1100" height="500">
        </div>
        <div class="carousel-item">
          <img src="assets/third.jpg" alt="New York" width="1100" height="500">
        </div>
      </div>
      
      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
  
  <div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore ad libero quod eum, sapiente et quos eius explicabo atque ullam ipsa cum suscipit dolores perferendis? Deserunt officia dolores accusamus debitis!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint libero sed ipsum assumenda fugit aperiam temporibus soluta vel, doloremque qui itaque blanditiis, explicabo quis inventore ipsam perspiciatis, eum in! Eveniet!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam impedit mollitia eius quibusdam nulla fugit laboriosam, ex, hic distinctio, quas perspiciatis repellat maiores. Eveniet vitae, omnis suscipit id aliquam sapiente.</p>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore ad libero quod eum, sapiente et quos eius explicabo atque ullam ipsa cum suscipit dolores perferendis? Deserunt officia dolores accusamus debitis!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint libero sed ipsum assumenda fugit aperiam temporibus soluta vel, doloremque qui itaque blanditiis, explicabo quis inventore ipsam perspiciatis, eum in! Eveniet!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam impedit mollitia eius quibusdam nulla fugit laboriosam, ex, hic distinctio, quas perspiciatis repellat maiores. Eveniet vitae, omnis suscipit id aliquam sapiente.</p>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore ad libero quod eum, sapiente et quos eius explicabo atque ullam ipsa cum suscipit dolores perferendis? Deserunt officia dolores accusamus debitis!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint libero sed ipsum assumenda fugit aperiam temporibus soluta vel, doloremque qui itaque blanditiis, explicabo quis inventore ipsam perspiciatis, eum in! Eveniet!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam impedit mollitia eius quibusdam nulla fugit laboriosam, ex, hic distinctio, quas perspiciatis repellat maiores. Eveniet vitae, omnis suscipit id aliquam sapiente.</p>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore ad libero quod eum, sapiente et quos eius explicabo atque ullam ipsa cum suscipit dolores perferendis? Deserunt officia dolores accusamus debitis!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint libero sed ipsum assumenda fugit aperiam temporibus soluta vel, doloremque qui itaque blanditiis, explicabo quis inventore ipsam perspiciatis, eum in! Eveniet!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam impedit mollitia eius quibusdam nulla fugit laboriosam, ex, hic distinctio, quas perspiciatis repellat maiores. Eveniet vitae, omnis suscipit id aliquam sapiente.</p>
  </div>



<router-outlet></router-outlet>
