/* body{min-height:200vh;} */
.navbar{
  transition:500ms ease;
  background:transparent;
}
.navbar{
  background-color:rgba(143, 181, 214, 0.2);
  position: fixed;
  width: 100%;
  height: 75px;
  box-sizing: border-box;
  transition: .5s;
}
.black{
  background-color:rgba(0, 136, 255, 0.2);
}
.navbar logo{

}
.navbar logo p{
  transition: .5s;
}
.navbar  ul{
  margin: 0;
  padding: 0;
  display: flex;
}
.navbar a{
  list-style: none;
  line-height: 70px;
  color: #fff9f9;
  padding: 5px 20px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .5s;
  /* margin: 10px; */
}
.active,.navbar a:hover{
  border-bottom: 1px solid red;
  
}
h1{
  font-size: 70px;
}
.navbar p::first-letter{
  font-weight: bolder;
  font-size: 25px;
  padding: 15px;
  color: rgba(0, 0, 0, .3);
  /* top: -40px; */
  margin-right: 5px;
  background: #ffff;
  /* height: 50px;
  float: left; */
}
p{
  padding-left: 30px;
  line-height: 70px;
  color: #ffff;
  margin-left: 1px solid red;
}
span{
  line-height: 75px;
}
