<div class="container">
  <div class="row">
    <h1>About <br> <span>us</span></h1>

  </div>
  <div class="row col-md-12">
    <div class="firstA col-md-4">
      <p>"AN EVENT <br> IS <br> NOT SPECIAL, <br> IF YOU <br> DON'T GET TO <br> RELIVE IT"</p>
    </div>
    <div class="firstB col-md-4">
      <p>CHOOSE THE MOMENTS YOU'D LOVE TO KEEP ALL UNDER ONE ROOF , WITH EVENT PHOTOGRAPHS</p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat magnam quam voluptatum dignissimos minus quasi, recusandae fuga iusto! Quae ullam, hic sunt nisi veritatis rem quia obcaecati qui nulla repellat!
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil iusto repudiandae corporis ipsum recusandae. Sed recusandae, corporis aspernatur deleniti porro alias molestias quae eligendi blanditiis dolores necessitatibus dolore, aperiam qui.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt aspernatur, distinctio cumque animi .
      </p>    
    </div>
    <div class="firstA col-md-4">
      <p>"AN EVENT <br> IS <br> NOT SPECIAL, <br> IF YOU <br> DON'T GET TO <br> RELIVE IT"</p>
    </div>
  </div>

</div>
