<div class="wrapper footer">
  <div class="container">
    <div class="row col-md-12">
      <h1>EVENT-PHOTOGRAPHY</h1>
    </div>
    <div class="row col-md-12">
      <div class="feedback col-md-6">
        <app-review-form></app-review-form>
      </div>
      <div class="contacts col-md-6">
        <h2>Contacts</h2>
        <div class="row">
          <div class="col-md-3">
            <h3 class="col-md-3">Emails:</h3>
            <ol>
              <li><a href="#">geerockface4@gmail.com</a></li>
              <li><a href="#">geerockface4@gmail.com</a></li>
              <li><a href="#">geerockface4@gmail.com</a></li>
              <li><a href="#">geerockface4@gmail.com</a></li>
            </ol>
          </div>
          <div class="col-md-3">
            <h3 class="col-md-3">Phone:</h3>
            <ol>
                <li><a href="#">geerockface4@gmail.com</a></li>
                <li><a href="#">geerockface4@gmail.com</a></li>
                <li><a href="#">geerockface4@gmail.com</a></li>
                <li><a href="#">geerockface4@gmail.com</a></li>
              </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <!-- <nav class="navbar navbar-default"> -->
      <ul>
        <li><a href="#" class="active">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Gallery</a></li>
        <li><a href="#">Team</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <!-- </nav> -->
    </div>
  </div>

</div>
